:root {
  --animation-speed: 300ms;
}

html,
body {
  overflow-y: hidden;
}

.navbar {
  position: sticky;
  top: 0;
  font-family: "Lato";
  font-size: .8rem;
  width: 100%;
  height: 55px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar ul li {
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.navbar ul li a {
  color: #6d6c6c;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #363636;
}

input{
  display: none;
}


@media screen and (max-width: 600px) {
  .navbar {
    justify-content: right;
    z-index: 1;
  }
    
  .menu{
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 300px;
    transition: transform 0.7s;
    z-index: 1;
    border-radius: 0px 0px 0px 20px;
    background-color: #363636;
  }

  .menu ul{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }

  .menu ul li {
    margin-top: 2em;
    margin-left: 3em;
  }

  .menu ul li a{
    color: #b8b8b8;
    font-size: 1rem;
  }

  .menu ul li a:hover{
    color: #6d6c6c;
  }
  
  .hamburger-icon{
    position: absolute;
    margin-right: 1.5em;
    width: 32px;
    height: 32px;
    z-index: 2;
  }
    input{
    display: block;
    position: absolute;
    right: 16px;
    top: 9px;
    height: 30px;
    width: 30px;
    opacity: 0;
    z-index: 3;
  }
  .hamburger-icon span{
    width: 100%;
    height: 5px;
    background-color: #6d6c6c;
    display: block;
    border-radius: 5px;
    transition: transform 0.2s;
  }

  .one{
    position: absolute;
    top: 0px;
  }
  .two{
    position: absolute;
    top: 10px;
  }
  .three{
    position: absolute;
    top: 20px;
  }

  input:checked ~ div .one{
    transform: rotate(45deg) translate(10px,10px);
  }
  input:checked ~ div .two{
    display: none;
  }
  input:checked ~ div .three{
    transform: rotate(-45deg) translate(3px,-5px) ;
  }

  input:checked ~ .menu{
    transform: translateX(-200px);
  }
  input:checked ~ div .one{
    background-color: #9c9c9c;
  }
  input:checked ~ div .three{
    background-color: #9c9c9c;
  }
  
}
